*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* background-image: url("bg.jpg") */
}
body{
  background-image: linear-gradient(to right,rgb(33, 35, 37), rgb(93, 169, 161)) 
}
.container{
  max-width: 1250px;
  background-color: rgba(216, 219, 219, 0.212);
  width: 500px;
  height: 300px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.input{
  display: flex;
  /* background-color: rgb(223, 87, 87); */
  width: 500px;
  margin: 60px auto;  
  max-width: 1250px;
}
#input-text{
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  margin: 5px;
  color: rgb(18, 17, 17);
  font-weight: 1000;
  font-size: 15px;
}
#search-btn{
  background: wheat;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  margin: 5px;
}
button{
  text-align: center;
}
.container p{
   background: rgb(151, 149, 149);
   margin: 2px;
   border-radius: 5px;
}